<div class="listing_qrcodes">
<% qr_codes.each do |num_value| %>
  <div style="margin:0 auto;" class="content-box">
    <div align="center">

    <div class="fedex-main-box-3">
      <div class="barcode-3-box-header">
        <h1><%= num_value.xpath('retek_description').children.text %></h1>
      </div>
      <div class="barcode-3-box-content">
        <div class="barcode-3-box-left">
          <div class="gap-3"></div>
          <div class="barcode-div">
            <h6><%= num_value.xpath('manufacturer').children.text %></h6>
          </div>
          <div class="barcode-div">
            <div class="barcode-3-box-left fix-heading-1">
              <h6><%= num_value.xpath('retek').children.text %></h6>
            </div>
             <div class="barcode-3-box-left">
               <h6>
                 <strong>
                   <%= num_value.xpath('epro').children.text %>
                 </strong>
               </h6>
             </div>
          </div>
            <div class="barcode-div">
              <div class="barcode-3-box-left">
                <h6><%= num_value.xpath('upc').children.text %></h6>
              </div>
              <div class="barcode-3-box-left fix-heading-2">
                <h6>
                  <strong>
                    <%= num_value.xpath('ims_prod_group').children.text%>
                    <span>&#9633;</span>
                  </strong>
              </h6>
              </div>
            </div>
            <div class="fedex-barcode-small">
              <%= image_tag "http://www.barcode-generator.org/zint/api.php?bc_number=20&bc_data=#{num_value.xpath('upc').children.text}"%>
            </div>
        </div>
        <div class="barcode-3-box-left">
          <h1>
            <sup>$
            </sup><%= num_value.xpath('retail').children.text %>
          </h1>
            <h3>
              <% unless num_value.xpath('unit_retail').children.text.blank? %>
                $<%= num_value.xpath('unit_retail').children.text %>
              <% end %>
            </h3>
        </div>
      </div>
    </div>

  </div>

  </div>
  <% end %>
</div>
<br>
