<!-- <div style=" display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   flex-wrap:wrap;
      display: flex;
      width: 100%;">

  <%= @num%>
  </div>
   -->

<!-- <link rel="stylesheet" href="assets/stylesheets/barcode-3.css" type="text/css"> -->
<!-- <link rel="stylesheet" href="assets/fonts/stylesheet.css" type="text/css"> -->


<%= render 'qr_codes_partial', { qr_codes: @qr_codes } %>

<%=paginate(@kaminari_ary, {total_pages: @total_pages, current_page: params[:page].to_i, per_page: 24})%>

<div class="float_left">
  <%= link_to "Export", export_to_pdf_qr_codes_path(total_count: @total_count), remote: true %>
</div>

<div class="float_right">
  <%= link_to "Download Page", download_reports_path %>
</div>


<div id="dialog" class="hide">
  <p> Please find the exported pdf in the dowloads page </p>
</div>
